<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="{{user.thumb.url}}">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">{{user.username | upper}} </p>
                  <div>
                    <small class="designation text-muted">Администратор</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
              <a href="{% url 'apps:employee_new' %}" class="btn btn-success btn-block">Новые сотрудники
                <i class="mdi mdi-plus"></i>
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'apps:dashboard' %}">
              <i class="fa  fa-dashboard"></i>
              <span class="menu-title">&emsp;Панель приборов</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'apps:employee_all' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="fa fa-list text-dark"></i>
              <span class="menu-title">&emsp;Работник</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'apps:attendance_new' %}">
              <i class="fa fa-calendar"></i>
              <span class="menu-title">&emsp;Посещаемость</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'apps:leave_new' %}">
              <i class="fa fa-sign-out "></i>
              <span class="menu-title">&emsp;Покинуть</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="fa fa-folder "></i>
              <span class="menu-title">&emsp;Отделение</span>
              <i class="menu-arrow"></i>
            </a>
              <a class="nav-link" href="{% url 'apps:dept_new' %}"><i class="fa fa-plus"></i>&emsp;Новый отдел</a>
              
            <hr>

            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
              {% for dept in depts  %}
                <li class="nav-item">
                  <a class="nav-link" href="{{dept.get_absolute_url}}">{{dept.name}}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="{% url 'apps:recruitmentall' %}">
              <i class="fa fa-database"></i>
              <span class="menu-title">&emsp;Прием на работу</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'apps:payroll' %}">
              <i class="fa fa-usd"></i>
              <span class="menu-title">&emsp;Платежная ведомость</span>
            </a>
          </li>

          {% comment %} <li class="nav-item">

          <li class="nav-item">
            <a class="nav-link" href="pages/icons/font-awesome.html">
              <i class="fa  fa-gears"></i>
              <span class="menu-title">&emsp;Настройки</span>
            </a>
          </li> {% endcomment %}
        </ul>
      </nav>